.cell {
  position: relative;

  &:hover {
    cursor: default;
  }
}

.text, .trigger-text {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  line-height: 1.5;
  font-size: 14px;
}

.trigger-text {
  font-size: 14px;
}

.tooltip-container {
  display: flex;
  flex-direction: column;
  width: 200px;
  max-width: 100%;
  box-sizing: border-box;
  position: relative;
  border-radius: 8px;
  font-size: 12px!important;
}

.tooltip-content{
  padding-inline: 10px;
}