.table-wrapper {
  width: 100%;
  overflow-x: auto;
  border-radius: 0.5rem;
  border: 1px solid var(--grey-15);

  // opsiyonel: scrollbar'ı ince ve şık yapmak istersen
  &::-webkit-scrollbar {
    height: 6px;
  }
  &::-webkit-scrollbar-thumb {
    background: var(--grey-30, #cfd4d8);
    border-radius: 4px;
  }
}

.table {
  border-spacing: 0;
  border: none; // border artık wrapper'da
  border-radius: 0.5rem;
  width: max-content;   // içerik kadar genişlesin
  min-width: 100%; 

  thead {
  }

  th {
    height: 42px !important;
    color: var(--base-grey-85, #4b5157);
    font-size: 12px;
    font-weight: 600;
    line-height: normal;
    text-align: left;
    white-space: nowrap;
    padding: 0 10.8px;
  }

  tbody {
    tr {
      td {
        color: var(--base-grey-85, #4b5157);
        font-size: 0.75rem;
        font-weight: 600;
        line-height: normal;
        border: 1px solid var(--grey-15, #e2e8eb);
        white-space: nowrap;  // hücreler de kırılmasın, overflow scroll'a devretsin
      }

      td:first-child {
        border-left: none;
      }
    }

    tr:nth-child(odd) {
      background-color: var(--Grey-05, #f5f6f6);
    }
  }
}
.dragging * {
  cursor: grabbing !important;
}

.cell {
  padding: 0 10.8px;
  word-wrap: break-word;
  // max-height: 160px;
}

.price-content {
  padding: 0px 20px !important;
}

.price-cell {
  max-height: 160px;
  height: unset;
  display: unset !important;
}

// 1605 perseus
// .order-dashboard-table {
//   tr {
//     max-height: 100px;
//     td {
//       max-height: 100px;
//       // background-color: yellow !important;
//     }
//   }
// }
