@use "../../../styles//mixin.scss" as *;

.ToastTitle {
  grid-area: title;
  // margin-bottom: 5px;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 0.75rem;
  font-feature-settings: "clig" off, "liga" off;
  /* Small bold text */
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.1875rem;

  color: var(--Grey-100, #262b2f);
  font-feature-settings: "clig" off, "liga" off;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.1875rem;
}

@include breakpoint-down("small") {
  .ToastTitle {
    width: 343px;
  }
}
.ToastDescription {
  grid-area: description;
  margin: 0;
  font-size: 13px;
  line-height: 1.3;
}

.ToastAction {
  grid-area: action;
}

// .Button {
//   display: inline-flex;
//   align-items: center;
//   justify-content: center;
//   border-radius: 4px;
//   font-weight: 500;
// }

.success-icon {
  min-width: 1.25rem;
  max-width: 1.25rem;
  height: 1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--green-25, #16ad88);
  border-radius: 50%;
}

@include breakpoint-down("small") {
  .success-icon {
    min-width: 0.75rem;
    max-width: 0.75rem;
    height: 0.75rem;
  }
}
